{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/a.css' %}">
        
</head>
<body>
    <center>
        <h1 style="font-size:50px"><u> 4RENT </u>
        </h1>
    </center>
    <form action="" method="post">
        <div>
          <center>  <img src="{% static '22734530.jpg' %}" width="550" alt="">
           </center>
        </div>
      
      
        <div  align="center" valign="center" >
          <label for=""><b class="p1">Username:</b></label>
          <input type="text" placeholder="Enter Username">
          <br><br>
      
          <label for=""><b class="p1">Password:</b></label>
          <input type="password" placeholder="Enter Password" >
          <br><br>
      
          <button type="submit" class="button2">Login</button>
          <br><br>
          
        </div>
      
        <div  align="center">
          <button type="button" class="button2">signup</button> &nbsp;&nbsp;&nbsp;&nbsp;
          <span>Forgot <a href="#">password?</a></span>
        </div>
        
      </form> 
</body>
</html>
</body>
</html>