{% extends 'home/master_rent.html' %}
{% block content %}
{% load static %}
<style>
.margin_top{
    margin-top: 10%;
    
}
.out {
    background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
            margin: auto;
    }
    .font{
        font-family: 'Orelega One', cursive;
        font-size: 40px;
        text-align: center;
    }
</style>
<div class="container out" style="  margin-top: 5%;width: 700px; height: 500px; ">
  <form method="POST" action="">
    {% csrf_token %}
    <center><h1 class="font" style="padding-top: 10%;">Change Password</h1></center>

     <div class="col-lg-12" style="padding-top: 10%;">
    <div class="form-group ">
      
      <input type="password" class="form-control" id="current_pass" name="current_pass" placeholder="Current Password">
      <small id="currentpass_err"></small>
    </div>
     <div class="form-group">
      
        <input type="password" class="form-control" id="new_pass" name="new_pass" placeholder="New Password">
        <small id="newpass_err"></small>
    </div>
    <div class="form-group">
      
        <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" placeholder="Confirm New Pasword">
        <small id="confirmpass_err"></small>
    </div>
    </div>
    <center><button type="submit" class="btn btn-primary col-lg-2" onclick="return validate();" >Save</button>
        </center>
        {{msg}}
</form> 
</div>


 

 <script>
    function validate() {
    let current_pass = document.getElementById('current_pass')
    let new_pass = document.getElementById('new_pass')
    let confirm_pass = document.getElementById('confirm_pass')
    var status=1

    if (current_pass.value == '') {
        document.getElementById('currentpass_err').innerHTML = "*Please enter current password"
        document.getElementById('currentpass_err').style.color = "red"
        current_pass.style.borderColor = "red"
        status=0
    }
    else {
        document.getElementById('currentpass_err').innerHTML = ""
        document.getElementById('current_pass').style.borderColor = ""
        status=1
    }
    if (new_pass.value == '') {
        document.getElementById('newpass_err').innerHTML = "*Please enter new password"
        document.getElementById('newpass_err').style.color = "red"
        new_pass.style.borderColor = "red"
        status=0
    }
    else {
        document.getElementById('newpass_err').innerHTML = ""
        document.getElementById('new_pass').style.borderColor = ""
        status=1
    }
    if (confirm_pass.value == '') {
        document.getElementById('confirmpass_err').innerHTML = "*Please enter confirm password"
        document.getElementById('confirmpass_err').style.color = "red"
        confirm_pass.style.borderColor = "red"
        status=0
    }
    else if(new_pass.value!=confirm_pass.value){
        document.getElementById('confirmpass_err').innerHTML = "*Password doesn't match"
        document.getElementById('confirmpass_err').style.color = "red"
        confirm_pass.style.borderColor = "red"
        status=0
    }
    else {
        document.getElementById('confirmpass_err').innerHTML = ""
        document.getElementById('confirm_pass').style.borderColor = ""
        status=1
    }
    if(status==0){
    return false
    }
    
} 
</script>
{% endblock %}