{% extends 'home/master_rent.html' %}
{% block content %}
{% load static %}

<style>
     .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }
</style>
<div class="row" style=" margin-top:3%;">
    
    <div class="card col-lg-3" style="margin-left: 4%; ">
        <img src="{% static 'images/b.jpg' %}" alt="Avatar" style="width:100%">
        <div class="container ">

            <h5><b>Price :</b></h5>
            <h5><b>Place :</b></h5>
            <h5><b>Furnishing :</b></h5>
            <a href="{% url 'home:details' %}">See more</a>
        </div>

    </div>
    
    
    <div class="col-lg-1"></div>
    <div class="card col-lg-3">
        <img src="{% static 'images/r.jpg' %}" alt="Avatar" style="width:100%">
        <div class="container ">

            <h5><b>Price :</b></h5>
            <h5><b>Place :</b></h5>
            <h5><b>Furnishing :</b></h5>
            
        </div>

    </div>
    {% endblock %}