{% extends 'home/master_rent.html' %}
{% load static %}

{% block content %}


<div> 
  <center>
    <p class="headtag">Don't Own it, Just Rent it ! </p>
  </center>
</div>

<div>


<!-- 
  <form class="form-inline pdleft ">
    <input class="form-control mr-sm-1 col-lg-5" type="search" placeholder="Search" aria-label="Search"
      style="height: 40px; font-size: large;">
    <button class="btn btn-outline-success my-2 my-sm-0 col-lg-3 " type="submit"
      style="height: 40px;font-size: 20px; ">Search</button>
  </form> -->
  <div class="row margin_img justify-content-md-center">
    <div class="col-4 text-center">
      <a href="{% url 'home:display' %}" class="text-center">

        <img src="{% static 'images/r.jpg' %}" alt="" style="height: 300px;width: 400px;">
        <div style="text-align: center;">
          <h2>Houses</h2>
        </div>
      </a>
    </div>


    <div class="col-4 text-center">
      <a href="{% url 'home:display' %}">
        <img src="{% static 'images/furnished.jpg' %}" alt="" style="height: 300px;width: 400px;">
        <h2>Apartments</h2>
      </a>
    </div>


    <div class="col-4 text-center">
      <a href="{% url 'home:display' %}">
        <img src="{% static 'images/1.png' %}" alt="" style="height: 300px;width: 400px;">

        <h2>Shops</h2>

    </div>
    </a>

   
    {% endblock %}