{% extends 'home/master_rent.html' %}
{% block content %}
{% load static %}
<style>
    div>label {
        font-size: 150;
        font-weight: bold;

    }



    .font {
        font-family: 'Acme', sans-serif;
        font-size: 20px;
    }

    .hfont {
        font-family: 'Luckiest Guy', cursive;

    }

    * {
        box-sizing: border-box
    }



    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }



    body {
        margin: 0;
    }
</style>


<form action="" method="GET">
<center><img src="/media/{{house_details.upload_images}}" style="height: 500px; width: 900px; margin-top: 2%;" alt=""></center>

<div class="p-5 test font">

    

        <div class="form-group row ">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label ">Bed</label>
            <div class="col-lg-1"><b>:</b></div>{{house_details.bed}}

        </div>
        <div class="form-group row ">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Bath </label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.bath}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-lg-2">
                <label for="exampleFormControlSelect1">Furnishing</label>

            </div>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.furnishing}}

        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Built Area(sq. ft)</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.built_area}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Carpet Area(sq. ft)</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.carpet_area}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Total Floor</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.total_floor}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Floor no. </label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.floor_no}}
        </div>

        <div class="form-group row shopfiled">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Bachelors Allowed</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.bachelors_allowed}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Street</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.street}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">District</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.district}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Price</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.price}}
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Contact Number</label>
            <div class="col-lg-1"><b>:</b></div>
            {{house_details.contact_no}}
        </div>




       
        <center><button type="button" class="btn btn-success " style="width: 6%;  border-radius: 50%;"><i
                    class="bi bi-chat-right">chat</i>
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-chat-right" viewBox="0 0 16 16">
                    <path
                        d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z" />
                </svg></button></center>

</div>





</div>
</form>

{% endblock %}