{% extends 'home/master_rent.html' %}
{% load static %}

{% block content %}
<style>
    .width {
        width: 83%;
    }


    .btn-warning{
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #fff;
  background-color: #ffc100;
  border: 0;
  transition: 0.2s;
  overflow: hidden; 
}

.btn-warning input[type = "file"]{
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.btn-warning:hover{
  background-color: #d9a400;
}
.upload{
  width: 100px;
  position: relative;
  margin: auto;
}

.upload img{
  border-radius: 50%;
  border: 6px solid #eaeaea;
}

.upload .round{
  position: absolute;
  bottom: 0;
  right: 0;
  background: #00B4FF;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}

.upload .round input[type = "file"]{
  position: absolute;
  transform: scale(2);
  opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}

</style>

<form action="" method="POST" enctype="multipart/form-data">
  
  <div class="upload" style="margin-top: 3%; ">
    <img src="/media/{{profile.upload_image}}" width = 150 height = 150 alt="" >
    <div class="round">
      <input type="file" name="photo"  required>
      <i class = "fa fa-camera" style = "color: #fff;"></i>
    </div>
  </div>

  <div style="padding-left: 18%; padding-top: 2%;" >
    
      {% csrf_token %}
        <div class="form-row" >
            <div class="form-group col-md-5">
                <label for="">First Name</label>
          
                <input type="text" class="form-control"  name="fname" id="inputEmail4" value="{{profile.first_name}}" placeholder="First name" required>

            </div>
            <div class="form-group col-md-5">
                <label for="">Last Name</label>
                <input type="text" class="form-control" name="lname" id="inputPassword4" value="{{profile.last_name}}" placeholder="Last name" required>
            </div>
        </div>
        <div class="form-group width ">
            <label for="">Date Of Birth</label>
            <input type="date" class="form-control" name="dateofbirth" id="" value="{{profile.dateofbirth}}" placeholder="Date of birth" required>
        </div> 
        <div class="form-group width">
            <label for="">Phone Number </label>
            <input type="text" class="form-control" name="phone" value="{{profile.phone}}" id="" placeholder="" required>
        </div>
        <div class="form-group width">
            <label for="">Email </label>
            <input type="text" class="form-control" name="email" value="{{profile.email}}" id="" placeholder="" required>
        </div>

        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" name="city" value="{{profile.city}}" id="" placeholder="City" required>
            </div>
            <div class="form-group col-md-5">
                <label for="inputState">State</label>
                <input type="text" class="form-control" name="state" id="" value="{{profile.state}}" placeholder="state" required>
            </div>

        </div>

        <button type="submit" class="btn btn-primary col-lg-1">SAVE</button>
      </div>
    </form>
</div>
{% endblock %}