{% extends 'home/master_rent.html' %}
{% block content %}
{% load static %}


    <style>
        .dd {
            background-color: white;
            color: black;
        }

        div>label {
            font-size: 150;
            font-weight: bold;

        }

        .rent {
            color: rgb(228, 219, 219);
            background-color: rgb(172, 7, 40);

            padding-top: 2%;
            padding-bottom: 2%;

        }

        .font {
            font-family: 'Acme', sans-serif;
            font-size: 20px;
        }

        .hfont {
            font-family: 'Luckiest Guy', cursive;


        }

        .lfont {
            font-size: 30px;
            color: white;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 2%;

        }
    </style>

<body class="dd">
    

    <div class="p-5 test font">

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="exampleFormControlSelect1">Type</label>

                </div>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-lg-8">
                    <select class="form-control" id="renttype" name="type" onchange=" hideUserInputs()" required>
                        <option disabled value="" selected>Select </option>
                        <option value="apartments">Apartments</option>
                        <option value="houses">Houses</option>
                        <option value="shops"> Shops</option>

                    </select>
                </div>

            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Owner Name</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="ower_name" required>
                </div>
            </div>
            <div class="form-group row shopfiled">
                <label for="" class="col-sm-2 col-form-label ">Bed</label>
                <div class="col-lg-1"><b>:</b></div>

                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="bed" >
                </div>
            </div>
            <div class="form-group row shopfiled">
                <label for="" class="col-sm-2 col-form-label">Bath </label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="bath" >
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-2">
                    <label for="exampleFormControlSelect1">Furnishing</label>

                </div>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-lg-8">
                    <select class="form-control" id="exampleFormControlSelect1" name="furnishing" required>
                        <option disabled value="" selected>Select </option>
                        <option>Furnished</option>
                        <option>Unfurnished</option>

                    </select>
                </div>

            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Built Area(sq. ft)</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="built" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Carpet Area(sq. ft)</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="carpet" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Total Floor</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">

                    <input type="text" class="form-control" id="" name="tfloor" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Floor no. </label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="floor_no" required>
                </div>
            </div>

            <div class="form-group row shopfiled">
                <label for="" class="col-sm-2 col-form-label">Bachelors Allowed</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <label for="">YES</label>
                    <input type="radio" name="bachelor" >
                    <label for="">NO</label>
                    <input type="radio" name="bachelor" >
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Street</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">

                    <input type="text" class="form-control" id="" name="street" required>
                </div>
            </div>


            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">District</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                <select class="form-control" name="district" required>
                  <option disabled value="" selected>District </option>
                  <option value="Thiruvananthapuram">Thiruvananthapuram </option>
                  <option value="Kollam">Kollam </option>
                  <option value="Pathanamthitta">Pathanamthitta </option>
                  <option value="Alappuzha">Alappuzha </option>
                  <option value="Kottayam">Kottayam </option>
                  <option value="Idukki">Idukki </option>
                  <option value="Ernakulam">Ernakulam</option>
                  <option value="Thrissur">Thrissur </option>
                  <option value="Palakkad">Palakkad </option>
                  <option value="Malappuram">Malappuram </option>
                  <option value="Kozhikode">Kozhikode </option>
                  <option value="Wayanad">Wayanad </option>
                  <option value="Kannur">Kannur </option>
                  <option value="Kasargod">Kasargod</option>

                </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Upload images</label>
                <div class="col-lg-1"><b>:</b></div>
                <input type="file"  id="" name="upload_img" required>
                <!-- <button type="button" class="btn btn-primary">Upload</button> -->
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Price </label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="price" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">Contact Number</label>
                <div class="col-lg-1"><b>:</b></div>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="" name="contact_no" required>
                </div>

            </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-sm-2 col-form-label"></label>
        <div class="col-lg-1"><b></b></div>
        <div class="">
           <button type="submit" class="btn btn-primary"
                    style="margin-left:20px; padding: 10px;">Submit</button>
        </div>
    </div>



    </form>
    </div>
    <script>
        function hideUserInputs() {

            renttype = document.getElementById("renttype")
            console.log(renttype.value);
            if (renttype.value == "shops") {

                document.getElementsByClassName('shopfiled')[0].hidden = true
                document.getElementsByClassName('shopfiled')[1].hidden = true
                document.getElementsByClassName('shopfiled')[2].hidden = true

            }
            else {
                document.getElementsByClassName('shopfiled')[0].hidden = false
                document.getElementsByClassName('shopfiled')[1].hidden = false
                document.getElementsByClassName('shopfiled')[2].hidden = false

            }
        }
    </script>

</body>

{% endblock %}