{% extends 'home/master_rent.html' %}
{% block content %}
{% load static %}
<style>
    div>label {
        font-size: 150;
        font-weight: bold;

    }



    .font {
        font-family: 'Acme', sans-serif;
        font-size: 20px;
    }

    .hfont {
        font-family: 'Luckiest Guy', cursive;

    }

    * {
        box-sizing: border-box
    }



    /* Set a style for all buttons */
    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

    button:hover {
        opacity: 1;
    }



    body {
        margin: 0;
    }
</style>



<center><img src="{% static 'images/1.png' %}" style="height: 500px; width: 900px; margin-top: 2%;" alt=""></center>

<div class="p-5 test font">

    <form action="" method="get">

        
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-lg-2">
                <label for="exampleFormControlSelect1">Furnishing</label>

            </div>
            <div class="col-lg-1"><b>:</b></div>
            <!-- <div class="col-lg-8">
                    <input type="text" class="form-control" id="">
                </div> -->

        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Built Area</label>
            <div class="col-lg-1"><b>:</b></div>
            <!-- <div class="col-sm-8">
                    <input type="text" class="form-control" id="">
                </div> -->
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Carpet Area</label>
            <div class="col-lg-1"><b>:</b></div>
            <!-- <div class="col-sm-8">
                    <input type="text" class="form-control" id="">
                </div> -->
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Total Floor</label>
            <div class="col-lg-1"><b>:</b></div>
            <!-- <div class="col-sm-8">

                    <input type="text" class="form-control" id="">
                </div> -->
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Floor no. </label>
            <div class="col-lg-1"><b>:</b></div>
            <!-- <div class="col-sm-8">
                    <input type="text" class="form-control" id="">
                </div> -->
        </div>

        



        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Property Address</label>
            <div class="col-lg-1"><b>:</b></div>
            <!-- <textarea class="form-control col-sm-8 " id="exampleFormControlTextarea1" rows="4"></textarea> -->
        </div><br><br><br>


        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Price </label>
            <div class="col-lg-1"><b>:</b></div>
            <!-- <div class="col-sm-8">
                    <input type="text" class="form-control" id="">
                </div> -->
        </div>
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <label for="" class="col-sm-2 col-form-label">Contact Number</label>
            <div class="col-lg-1"><b>:</b></div>

            <!-- <textarea class="form-control col-sm-8 " id="exampleFormControlTextarea1" rows="4"></textarea> -->
        </div>
        <center><button type="button" class="btn btn-success" style="width: 10%;">Message</button></center>
</div>




</form>
</div>

{% endblock %}