
    {% extends 'home/master_rent.html' %}
    {% block content %}
    {% load static %}
    <style>
       

    
  
    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    input[type=text]:focus,
    input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }

    /* Set a style for all buttons */
   

    button:hover {
      opacity: 1;
    }

   

   

    /* Add padding to container elements */
    .container {
      padding: 16px;
    }

    /* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }

    /* Change styles for cancel button and signup button on extra small screens */
    @media screen and (max-width: 300px) {

      .cancelbtn,
      .signupbtn {
        width: 100%;
      }
    }

    .pd {
      padding-top: 2%;
      text-align: center;

    }


    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }
    </style>


    <div class="row" style=" margin-top:3%; margin-bottom: 10%;">
        
        <div class="card col-lg-3" style="margin-left: 4%; ">
            <img src="{% static 'images/b.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container ">
    
                <h5><b>Price :</b></h5>
                <h5><b>Place :</b></h5>
                <h5><b>Furnishing :</b></h5>
               <center><a type="button" class="btn btn-success" href="{% url 'home:user_edit' %}" style="width: 30%;">Edit</a>
                <button type="button" class="btn btn-dark" style="width:30%;">Delete</button></center> 
            </div>
    
        </div>
        
        
        <div class="col-lg-1"></div>
        <div class="card col-lg-3">
            <img src="{% static 'images/r.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container ">
    
                <h5><b>Price :</b></h5>
                <h5><b>Place :</b></h5>
                <h5><b>Furnishing :</b></h5>
                <center><a href="{% url 'home:user_edit' %}"><button type="button" class="btn btn-success" style="width: 30%;">Edit</button></a>
                    <button type="button" class="btn btn-dark" style="width:30%;">Delete</button></center> 
                
            </div>
    
        </div>
        <div class="col-lg-1"></div>
        <div class="card col-lg-3">
            <img src="{% static 'images/a.jpg' %}" alt="Avatar" style="width:100%">
            <div class="container ">
    
                <h5><b>Price :</b></h5>
                <h5><b>Place :</b></h5>
                <h5><b>Furnishing :</b></h5>
                <center><button type="button" class="btn btn-success" style="width: 30%;">Edit</button>
                    <button type="button" class="btn btn-dark" style="width:30%;">Delete</button></center> 
               
            </div>
    
        </div>
        
    
    </div>
    
    
    {% endblock %}
