<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="post" width="50%">
    <div>
           
        <label for=""><b>Type:</b></label>
        <select name="district" id="">
        <option value="">Apartment</option>
        <option value="">House</option>
        <option value="">Shop</option>
        </select>
    </div>
    <br><br>
    <div>
        <label for=""><b>Bed:</b></label>
        <input type="text"><br><br>
        <label for=""><b>Bath:</b></label>
        <input type="text">
    </div><br><br>
    <div>
           
        <label for=""><b>Furnishing:</b></label>
        <select name="furnish" id="">
        <option value="">Furnished</option>
        <option value="">Unfurnished</option>
        
        </select>
    </div><br><br>
    <label for=""><b>Built area:</b></label>
        <input type="text">
        <br><br>
        <label for=""><b>Carpet area:</b></label>
        <input type="text"><br><br>

    <label for=""><b>Total floor:</b></label>
        <input type="text">
        <br><br>
        <label for=""><b>Floor no.:</b></label>
        <input type="text">
        <br><br>
        <label for=""><b>Bachelors allowed:</b></label>
        <input type="radio"  name="bachelor" >
<label for="">YES</label>
        <input type="radio"  name="bachelor"  >
<label for="">NO</label><br><br>
<label for=""><b>Description:</b> </label>
<textarea name="" id="" cols="30" rows="10"></textarea><br> <br>
<label for=""><b>Upload images:</b></label>
<button type="button">Upload </button><br><br>
<label for=""><b>Price:</b></label>
<input type="text" name="" id=""> &nbsp;
<label for=""><b>Contact no.:</b></label>
<input type="text"><br><br>
<div>
<button type="submit" >SUBMIT</button></div>
</form>
</body>
</html>