#bg{background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.p1{
    color:rgb(4, 0, 255);
    font-size:larger;
    display:inline-flex;
}

.button2 
{
    color:white;
    background-color:green;
    
}
.c1{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 3454px 2018px;
  }
