.p1{
    color:rgb(0, 255, 42);
    font-size:larger;
    display:inline-flex;
}

.button2 
{
    
    border-radius: 4px;
    background-color: rgba(0, 128, 28, 0.767);
    border-width: 3px;
    border:solid black ;
    padding:5px 10px 5px 10px;
    margin:1px 1px 1px 1px;

}
